/* colour variables for moja */
:root {
--colour-background-neutral-page: #ffffff;
--colour-background-neutral-default: #ffffff;
--colour-background-neutral-lightest: #f2f2f2;
--colour-background-neutral-lighter: #f2f2f2;
--colour-background-neutral-light: #e6e6e6;
--colour-background-neutral-dark: #bfbfbf;
--colour-background-neutral-darker: #767676;
--colour-background-neutral-darkest: #404040;
--colour-background-neutral-disabled: #e6e6e6;
--colour-background-neutral-overlay: rgba(0, 0, 0, 0.5);
--colour-background-primary-brand-1: #c9f6ea;
--colour-background-primary-brand-2: #c9f6ea;
--colour-background-primary-brand-3: #c9f6ea;
--colour-background-primary-brand-4: #000000;
--colour-background-primary-brand-5: #000000;
--colour-background-primary-brand-6: #27dcae;
--colour-background-primary-brand-7: #92edd6;
--colour-background-primary-brand-8: #f2f8fd;
--colour-background-primary-brand-9: #000000;
--colour-background-primary-brand-10: #eafcf7;
--colour-background-primary-tint-1: #eafcf7;
--colour-background-primary-tint-2: #e6f2fd;
--colour-background-primary-tint-3: #e6f2fd;
--colour-background-status-info: #e6f2fd;
--colour-background-status-success: #c9f6ea;
--colour-background-status-alert: #fff5eb;
--colour-background-status-error: #fdeae9;
--colour-text-neutral-default: #1a1a1a;
--colour-text-neutral-subdued: #767676;
--colour-text-neutral-inverse: #ffffff;
--colour-text-primary-default: #27dcae;
--colour-text-on-surface-brand-1: #000000;
--colour-text-on-surface-brand-2: #000000;
--colour-text-on-surface-brand-3: #000000;
--colour-text-on-surface-brand-4: #000000;
--colour-text-on-surface-brand-5: #ffffff;
--colour-text-on-surface-brand-6: #000000;
--colour-text-on-surface-brand-7: #000000;
--colour-text-on-surface-brand-8: #000000;
--colour-text-on-surface-brand-9: #27dcae;
--colour-text-on-surface-brand-10: #000000;
--colour-text-link-default: #000000;
--colour-text-link-footer: #27dcae;
--colour-text-link-disabled: #767676;
--colour-text-link-disabled-subtle: #bfbfbf;
--colour-text-status-on-info: #ffffff;
--colour-text-status-on-alert: #000000;
--colour-text-status-error: #e4251b;
--colour-text-status-on-error: #ffffff;
--colour-icon-neutral-subtle: #767676;
--colour-icon-neutral-inverse: #ffffff;
--colour-icon-neutral-fixed: #ffffff;
--colour-icon-neutral-disabled: #e6e6e6;
--colour-icon-neutral-hover: #000000;
--colour-icon-primary-spot-1: #27dcae;
--colour-icon-primary-spot-2: #000000;
--colour-icon-primary-subdued: #404040;
--colour-icon-on-background-spot-1: #27dcae;
--colour-icon-on-background-spot-2: #000000;
--colour-icon-on-background-brand-3: #000000;
--colour-icon-on-background-brand-5: #ffffff;
--colour-icon-on-background-disabled: #bfbfbf;
--colour-icon-on-background-disabled-strong: #767676;
--colour-icon-fill-brand-1: #3de0b7;
--colour-icon-fill-brand-2: #c9f6ea;
--colour-icon-fill-brand-3: #c9f6ea;
--colour-icon-fill-brand-4: #c9f6ea;
--colour-icon-fill-brand-5: #c9f6ea;
--colour-icon-fill-brand-6: #c9f6ea;
--colour-icon-status-info: #007ae5;
--colour-icon-status-success: #59b655;
--colour-icon-status-check-on: #068482;
--colour-icon-status-check-on-alt: #068482;
--colour-icon-status-alert: #fb9f37;
--colour-icon-status-on-alert: #000000;
--colour-icon-status-error: #e4251b;
--colour-icon-support-info-dim: #e6f2fd;
--colour-border-neutral-strong: #1a1a1a;
--colour-border-neutral-medium: #767676;
--colour-border-neutral-subdued: #bfbfbf;
--colour-border-neutral-subtle: #e6e6e6;
--colour-border-neutral-inverse: #ffffff;
--colour-border-neutral-disabled: #bfbfbf;
--colour-border-primary-brand-1: #27dcae;
--colour-border-primary-brand-2: #000000;
--colour-border-primary-brand-3: #068482;
--colour-border-primary-brand-4: #27dcae;
--colour-border-status-info: #1a88e8;
--colour-border-status-success: #27dcae;
--colour-border-status-alert: #fb9f37;
--colour-border-status-error: #e4251b;
--colour-shadow-button-default: #18866b;
--colour-shadow-button-hover: #18866b;
--colour-shadow-button-focus: #18866b;
--colour-shadow-card-level-top: rgba(0, 0, 0, 0.16);
--colour-shadow-card-level-1: rgba(0, 0, 0, 0.24);
--colour-shadow-card-level-1-new: rgba(117, 117, 117, 0.38);
--colour-shadow-card-default: rgba(118, 118, 118, 0.24);
--colour-shadow-card-hover: rgba(118, 118, 118, 0.4);
--colour-shadow-card-pressed: rgba(118, 118, 118, 0.15);
--colour-shadow-helphub-default: rgba(118, 118, 118, 0.24);
--colour-shadow-helphub-hover: rgba(118, 118, 118, 0);
--colour-shadow-helphub-pressed: rgba(118, 118, 118, 0);
--colour-shadow-focus: rgba(39, 220, 174, 0.5);
}