/* component variables for moja */
:root {
--component-button-colour-primary-background-default: #27dcae;
--component-button-colour-primary-background-hover: #5de5c2;
--component-button-colour-primary-background-pressed: #27dcae;
--component-button-colour-primary-background-focus: #27dcae;
--component-button-colour-primary-background-disabled: #e6e6e6;
--component-button-colour-primary-text-default: #000000;
--component-button-colour-primary-text-disabled: #767676;
--component-button-colour-primary-border-focus: #000000;
--component-button-colour-secondary-background-default: #ffffff;
--component-button-colour-secondary-background-hover: #f2f2f2;
--component-button-colour-secondary-background-pressed: #000000;
--component-button-colour-secondary-background-focus: #ffffff;
--component-button-colour-secondary-background-disabled: #e6e6e6;
--component-button-colour-secondary-text-default: #000000;
--component-button-colour-secondary-text-hover: #000000;
--component-button-colour-secondary-text-disabled: #767676;
--component-button-colour-secondary-text-pressed: #ffffff;
--component-button-colour-secondary-icon-default: #000000;
--component-button-colour-secondary-border-default: #000000;
--component-button-colour-secondary-border-hover: #404040;
--component-button-colour-secondary-border-focus: #000000;
--component-button-colour-secondary-border-focus-inner: #000000;
--component-button-colour-tertiary-background-default: #ffffff;
--component-button-colour-tertiary-background-active: #068482;
--component-button-colour-tertiary-background-inverse: #000000;
--component-button-colour-tertiary-border-default: #000000;
--component-button-colour-tertiary-border-active: #068482;
--component-button-radius-default: 4.000rem;
--component-button-radius-focus: 4.000rem;
--component-button-space-focus: 0;
--component-button-size-sm-min-height: 1.875rem;
--component-button-type-medium-font-size: 1.000rem;
--component-button-type-medium-line-height: 1.500rem;
--component-button-type-small-font-size: 0.875rem;
--component-button-type-small-line-height: 1.000rem;
--component-button-type-tiny-font-size: 0.750rem;
--component-button-type-tiny-line-height: 1.000rem;
--component-button-type-tag-font-size: 0.750rem;
--component-button-type-tag-line-height: 1.000rem;
--component-card-border-default: 0.063rem;
--component-card-border-inverse: 0;
--component-card-space-default: 0;
--component-card-space-sm-negative: 1.000rem;
--component-card-space-sm-positive: 0;
--component-checkbox-colour-background-default: #ffffff;
--component-checkbox-colour-background-hover: #068482;
--component-checkbox-colour-background-disabled: #ffffff;
--component-checkbox-colour-background-active-disabled: #82c1c0;
--component-checkbox-colour-border-default: #767676;
--component-checkbox-colour-border-hover: #068482;
--component-checkbox-colour-border-focus-inner: #068482;
--component-checkbox-colour-border-focus-outer: #000000;
--component-checkbox-colour-border-disabled: #bfbfbf;
--component-checkbox-colour-border-disabled-2: #82c1c0;
--component-checkbox-colour-icon-default: #ffffff;
--component-checkbox-colour-icon-disabled: #ffffff;
--component-checkbox-border-default: 0.125rem;
--component-checkbox-border-selected: 0.125rem;
--component-checkbox-border-focus-inner: 0.125rem;
--component-checkbox-border-focus-outer: 0.125rem;
--component-checkbox-radius-default: 0.250rem;
--component-checkbox-radius-focus: 0.375rem;
--component-chip-colour-background-default: #3de0b7;
--component-chip-colour-text-default: #000000;
--component-input-colour-background-default: #ffffff;
--component-input-colour-background-dim: #e6e6e6;
--component-input-colour-background-hover: #068482;
--component-input-colour-background-error: #fdeae9;
--component-input-colour-background-disabled: #f2f2f2;
--component-input-colour-background-disabled-2: #f2f2f2;
--component-input-colour-text-inverse: #ffffff;
--component-input-colour-border-default: #767676;
--component-input-colour-border-subdued: #bfbfbf;
--component-input-colour-border-active: #068482;
--component-input-colour-border-disabled: #f2f2f2;
--component-input-border-default: 0.063rem;
--component-input-border-active: 0.125rem;
--component-label-colour-background-default: #27dcae;
--component-label-colour-text-default: #000000;
--component-masthead-colour-surface-brand: #27dcae;
--component-masthead-colour-surface-brand-2: #c9f6ea;
--component-masthead-colour-surface-brand-3: #000000;
--component-masthead-colour-size-helphub-nav-height: 4.500rem;
--component-menu-colour-background-default: #000000;
--component-menu-colour-text-default: #ffffff;
--component-menu-colour-icon-default: #ffffff;
--component-notification-border-default: 0;
--component-notification-radius-default: 0.750rem;
--component-panel-radius-default: 0;
--component-progress-step-colour-background-default: #f2f2f2;
--component-progress-step-colour-background-default-2: #e6e6e6;
--component-progress-step-colour-background-default-3: #000000;
--component-progress-step-colour-background-active: #27dcae;
--component-progress-step-colour-background-dashed-line: #27dcae;
--component-progress-step-colour-text-complete: #767676;
--component-progress-step-colour-text-current: #000000;
--component-progress-step-colour-text-remaining: #767676;
--component-progress-step-border-moja-lbg: 0;
--component-progress-step-border-inner: 0;
--component-radio-colour-background-default: #ffffff;
--component-radio-colour-background-hover: #068482;
--component-radio-colour-background-disabled: #82c1c0;
--component-radio-colour-radio-default: #767676;
--component-radio-colour-radio-hover: #068482;
--component-radio-colour-radio-focus-inner: #068482;
--component-radio-colour-radio-focus-outer: #27dcae;
--component-radio-colour-radio-disabled: #bfbfbf;
--component-radio-colour-radio-active-disabled: #82c1c0;
--component-radio-border-default: 0.125rem;
--component-radio-border-selected: 0.125rem;
--component-radio-border-focus-inner: 0.125rem;
--component-radio-border-focus-outer: 0.125rem;
--component-selector-colour-background-default: #ffffff;
--component-selector-colour-background-hover: #f2f2f2;
--component-selector-colour-background-active: #eafcf7;
--component-selector-colour-background-active-disabled: #f4fdfb;
--component-selector-colour-background-disabled: #f2f2f2;
--component-selector-colour-text-default: #000000;
--component-selector-colour-text-active: #000000;
--component-selector-colour-text-disabled: #bfbfbf;
--component-selector-colour-border-default: #ffffff;
--component-selector-colour-border-default-2: #ffffff;
--component-selector-colour-border-brand: #27dcae;
--component-selector-colour-border-current: #bfbfbf;
--component-selector-colour-border-disabled: #f2f2f2;
--component-selector-colour-border-active: #068482;
--component-selector-colour-border-active-disabled: #82c1c0;
--component-selector-border-default: 0.125rem;
--component-selector-border-default-inverse: 0.125rem;
--component-selector-border-unselected: 0;
--component-selector-type-selector-text: Regular;
--component-switch-colour-background-inverse: #ffffff;
--component-switch-colour-background-brand: #068482;
--component-switch-colour-background-switch-off: #ffffff;
--component-switch-colour-background-background-off: #767676;
--component-switch-colour-background-disabled: #e6e6e6;
--component-switch-colour-background-active-disabled: #82c1c0;
--component-table-colour-background-fixed: #ffffff;
--component-table-colour-background-fixed-subtle: #e6e6e6;
--component-table-colour-background-header: #1a1a1a;
--component-table-colour-background-active: #068482;
--component-table-colour-background-active-subdued: #eafcf7;
--component-table-colour-background-active-subtle: #eafcf7;
--component-table-colour-text-default: #000000;
--component-table-colour-text-header: #ffffff;
--component-table-colour-text-inverse: #ffffff;
--component-table-colour-text-active: #000000;
--component-table-colour-border-default-1: #767676;
--component-table-colour-border-default-2: #767676;
--component-table-colour-border-brand: #27dcae;
--component-table-colour-border-active: #068482;
--component-tile-size-min-height: 11.375rem;
--component-toggle-colour-background-default: #f2f2f2;
--component-toggle-colour-background-active: #068482;
--component-toggle-colour-text-default: #767676;
--component-toggle-colour-text-active: #ffffff;
--component-toggle-colour-border-default: #ffffff;
--component-toggle-border-outer: 0;
--component-toggle-border-outer-none: 0;
--component-toggle-border-inner: 0;
--component-toggle-radius-inner: 4.000rem;
--component-toggle-radius-outer: 4.000rem;
--component-toggle-space-default: 0;
--component-toggle-type-toggle: Bold;
}