/* colour variables for lloyds */
:root {
--colour-background-neutral-page: #f1f1f1;
--colour-background-neutral-default: #ffffff;
--colour-background-neutral-lightest: #ffffff;
--colour-background-neutral-lighter: #f1f1f1;
--colour-background-neutral-light: #f5f5f5;
--colour-background-neutral-dark: #c9c9c9;
--colour-background-neutral-darker: #323232;
--colour-background-neutral-darkest: #323232;
--colour-background-neutral-disabled: #c9c9c9;
--colour-background-neutral-overlay: rgba(0, 0, 0, 0.5);
--colour-background-primary-brand-1: #c7ffc6;
--colour-background-primary-brand-2: #11b67a;
--colour-background-primary-brand-3: #006a4d;
--colour-background-primary-brand-4: #0be248;
--colour-background-primary-brand-5: #000000;
--colour-background-primary-brand-6: #f1f1f1;
--colour-background-primary-brand-7: #f1f1f1;
--colour-background-primary-brand-8: #c7ffc6;
--colour-background-primary-brand-9: #6cf479;
--colour-background-primary-brand-10: #11b67a;
--colour-background-primary-tint-1: #ffffff;
--colour-background-primary-tint-2: #f8f8ff;
--colour-background-primary-tint-3: #f1f1f1;
--colour-background-status-info: #f8f8ff;
--colour-background-status-success: #f6f9f5;
--colour-background-status-alert: #fff7e8;
--colour-background-status-error: #fff6f5;
--colour-text-neutral-default: #000000;
--colour-text-neutral-subdued: #767676;
--colour-text-neutral-inverse: #ffffff;
--colour-text-primary-default: #11b67a;
--colour-text-on-surface-brand-1: #000000;
--colour-text-on-surface-brand-2: #000000;
--colour-text-on-surface-brand-3: #ffffff;
--colour-text-on-surface-brand-4: #000000;
--colour-text-on-surface-brand-5: #ffffff;
--colour-text-on-surface-brand-6: #000000;
--colour-text-on-surface-brand-7: #000000;
--colour-text-on-surface-brand-8: #000000;
--colour-text-on-surface-brand-9: #000000;
--colour-text-on-surface-brand-10: #000000;
--colour-text-link-default: #000000;
--colour-text-link-footer: #ffffff;
--colour-text-link-disabled: #a8a8a8;
--colour-text-link-disabled-subtle: #a8a8a8;
--colour-text-status-on-info: #ffffff;
--colour-text-status-on-alert: #000000;
--colour-text-status-error: #db0f30;
--colour-text-status-on-error: #ffffff;
--colour-icon-neutral-subtle: #a8a8a8;
--colour-icon-neutral-inverse: #000000;
--colour-icon-neutral-fixed: #ffffff;
--colour-icon-neutral-disabled: #c0c0c0;
--colour-icon-neutral-hover: #000000;
--colour-icon-primary-spot-1: #000000;
--colour-icon-primary-spot-2: #000000;
--colour-icon-primary-subdued: #323232;
--colour-icon-on-background-spot-1: #000000;
--colour-icon-on-background-spot-2: #000000;
--colour-icon-on-background-brand-3: #ffffff;
--colour-icon-on-background-brand-5: #ffffff;
--colour-icon-on-background-disabled: #a8a8a8;
--colour-icon-on-background-disabled-strong: #767676;
--colour-icon-fill-brand-1: #11b67a;
--colour-icon-fill-brand-2: #ffb16a;
--colour-icon-fill-brand-3: #a19fff;
--colour-icon-fill-brand-4: #f5b2f2;
--colour-icon-fill-brand-5: #9de7de;
--colour-icon-fill-brand-6: #a3bbcf;
--colour-icon-status-info: #276ae6;
--colour-icon-status-success: #10a870;
--colour-icon-status-check-on: #006a4d;
--colour-icon-status-check-on-alt: #11b67a;
--colour-icon-status-alert: #e66d10;
--colour-icon-status-on-alert: #000000;
--colour-icon-status-error: #db0f30;
--colour-icon-support-info-dim: #f8f8ff;
--colour-border-neutral-strong: #000000;
--colour-border-neutral-medium: #323232;
--colour-border-neutral-subdued: #a8a8a8;
--colour-border-neutral-subtle: #c9c9c9;
--colour-border-neutral-inverse: #ffffff;
--colour-border-neutral-disabled: #c0c0c0;
--colour-border-primary-brand-1: #11b67a;
--colour-border-primary-brand-2: #024731;
--colour-border-primary-brand-3: #000000;
--colour-border-primary-brand-4: #000000;
--colour-border-status-info: #276ae6;
--colour-border-status-success: #10a870;
--colour-border-status-alert: #e66d10;
--colour-border-status-error: #db0f30;
--colour-shadow-button-default: #000000;
--colour-shadow-button-hover: #323232;
--colour-shadow-button-focus: #000000;
--colour-shadow-card-level-top: rgba(0, 0, 0, 0);
--colour-shadow-card-level-1: rgba(0, 0, 0, 0);
--colour-shadow-card-level-1-new: rgba(117, 117, 117, 0);
--colour-shadow-card-default: rgba(118, 118, 118, 0);
--colour-shadow-card-hover: rgba(118, 118, 118, 0);
--colour-shadow-card-pressed: rgba(118, 118, 118, 0);
--colour-shadow-helphub-default: rgba(118, 118, 118, 0.24);
--colour-shadow-helphub-hover: rgba(118, 118, 118, 0.4);
--colour-shadow-helphub-pressed: rgba(118, 118, 118, 0.15);
--colour-shadow-focus: #fd006a;
}