/* component variables for lloyds */
:root {
--component-button-colour-primary-background-default: #000000;
--component-button-colour-primary-background-hover: #323232;
--component-button-colour-primary-background-pressed: #000000;
--component-button-colour-primary-background-focus: #000000;
--component-button-colour-primary-background-disabled: #c9c9c9;
--component-button-colour-primary-text-default: #ffffff;
--component-button-colour-primary-text-disabled: #767676;
--component-button-colour-primary-border-focus: #000000;
--component-button-colour-secondary-background-default: #ffffff;
--component-button-colour-secondary-background-hover: #f1f1f1;
--component-button-colour-secondary-background-pressed: #000000;
--component-button-colour-secondary-background-focus: #ffffff;
--component-button-colour-secondary-background-disabled: #c9c9c9;
--component-button-colour-secondary-text-default: #000000;
--component-button-colour-secondary-text-hover: #000000;
--component-button-colour-secondary-text-disabled: #767676;
--component-button-colour-secondary-text-pressed: #ffffff;
--component-button-colour-secondary-icon-default: #000000;
--component-button-colour-secondary-border-default: #000000;
--component-button-colour-secondary-border-hover: #323232;
--component-button-colour-secondary-border-focus: #000000;
--component-button-colour-secondary-border-focus-inner: #000000;
--component-button-colour-tertiary-background-default: #ffffff;
--component-button-colour-tertiary-background-active: #000000;
--component-button-colour-tertiary-background-inverse: #ffffff;
--component-button-colour-tertiary-border-default: #000000;
--component-button-colour-tertiary-border-active: #000000;
--component-button-radius-default: 0.750rem;
--component-button-radius-focus: 1.000rem;
--component-button-space-focus: 0.313rem;
--component-button-size-sm-min-height: 3.000rem;
--component-button-type-medium-font-size: 1.063rem;
--component-button-type-medium-line-height: 1.375rem;
--component-button-type-small-font-size: 0.938rem;
--component-button-type-small-line-height: 1.250rem;
--component-button-type-tiny-font-size: 0.750rem;
--component-button-type-tiny-line-height: 1.000rem;
--component-button-type-tag-font-size: 0.750rem;
--component-button-type-tag-line-height: 1.000rem;
--component-card-border-default: 0;
--component-card-border-inverse: 0.063rem;
--component-card-space-default: 1.500rem;
--component-card-space-sm-negative: 0;
--component-card-space-sm-positive: 1.000rem;
--component-checkbox-colour-background-default: #ffffff;
--component-checkbox-colour-background-hover: #ffffff;
--component-checkbox-colour-background-disabled: #ffffff;
--component-checkbox-colour-background-active-disabled: #a8a8a8;
--component-checkbox-colour-border-default: #000000;
--component-checkbox-colour-border-hover: #000000;
--component-checkbox-colour-border-focus-inner: #000000;
--component-checkbox-colour-border-focus-outer: #000000;
--component-checkbox-colour-border-disabled: #a8a8a8;
--component-checkbox-colour-border-disabled-2: #a8a8a8;
--component-checkbox-colour-icon-default: #000000;
--component-checkbox-colour-icon-disabled: #ffffff;
--component-checkbox-border-default: 0.063rem;
--component-checkbox-border-selected: 0.063rem;
--component-checkbox-border-focus-inner: 0.125rem;
--component-checkbox-border-focus-outer: 0.125rem;
--component-checkbox-radius-default: 0.375rem;
--component-checkbox-radius-focus: 0.500rem;
--component-chip-colour-background-default: #11b67a;
--component-chip-colour-text-default: #000000;
--component-input-colour-background-default: #ffffff;
--component-input-colour-background-dim: #f1f1f1;
--component-input-colour-background-hover: #000000;
--component-input-colour-background-error: #fff6f5;
--component-input-colour-background-disabled: #f5f5f5;
--component-input-colour-background-disabled-2: #f1f1f1;
--component-input-colour-text-inverse: #ffffff;
--component-input-colour-border-default: #000000;
--component-input-colour-border-subdued: #c9c9c9;
--component-input-colour-border-active: #000000;
--component-input-colour-border-disabled: #f1f1f1;
--component-input-border-default: 0.063rem;
--component-input-border-active: 0.125rem;
--component-label-colour-background-default: #6cf479;
--component-label-colour-text-default: #000000;
--component-masthead-colour-surface-brand: #11b67a;
--component-masthead-colour-surface-brand-2: #ffffff;
--component-masthead-colour-surface-brand-3: #ffffff;
--component-masthead-colour-size-helphub-nav-height: 4.500rem;
--component-menu-colour-background-default: #000000;
--component-menu-colour-text-default: #ffffff;
--component-menu-colour-icon-default: #ffffff;
--component-notification-border-default: 0.063rem;
--component-notification-radius-default: 0.750rem;
--component-panel-radius-default: 0;
--component-progress-step-colour-background-default: #f1f1f1;
--component-progress-step-colour-background-default-2: #767676;
--component-progress-step-colour-background-default-3: #ffffff;
--component-progress-step-colour-background-active: #10a870;
--component-progress-step-colour-background-dashed-line: #767676;
--component-progress-step-colour-text-complete: #000000;
--component-progress-step-colour-text-current: #000000;
--component-progress-step-colour-text-remaining: #767676;
--component-progress-step-border-moja-lbg: 0.063rem;
--component-progress-step-border-inner: 0.375rem;
--component-radio-colour-background-default: #ffffff;
--component-radio-colour-background-hover: #000000;
--component-radio-colour-background-disabled: #a8a8a8;
--component-radio-colour-radio-default: #000000;
--component-radio-colour-radio-hover: #000000;
--component-radio-colour-radio-focus-inner: #000000;
--component-radio-colour-radio-focus-outer: #000000;
--component-radio-colour-radio-disabled: #c9c9c9;
--component-radio-colour-radio-active-disabled: #a8a8a8;
--component-radio-border-default: 0.063rem;
--component-radio-border-selected: 0.063rem;
--component-radio-border-focus-inner: 0.125rem;
--component-radio-border-focus-outer: 0.125rem;
--component-selector-colour-background-default: #ffffff;
--component-selector-colour-background-hover: #f1f1f1;
--component-selector-colour-background-active: #ffffff;
--component-selector-colour-background-active-disabled: #f5f5f5;
--component-selector-colour-background-disabled: #f5f5f5;
--component-selector-colour-text-default: #000000;
--component-selector-colour-text-active: #000000;
--component-selector-colour-text-disabled: #a8a8a8;
--component-selector-colour-border-default: #ffffff;
--component-selector-colour-border-default-2: #a8a8a8;
--component-selector-colour-border-brand: #11b67a;
--component-selector-colour-border-current: #c0c0c0;
--component-selector-colour-border-disabled: #f5f5f5;
--component-selector-colour-border-active: #000000;
--component-selector-colour-border-active-disabled: #a8a8a8;
--component-selector-border-default: 0.125rem;
--component-selector-border-default-inverse: 0;
--component-selector-border-unselected: 0.063rem;
--component-selector-type-selector-text: Regular;
--component-switch-colour-background-inverse: #ffffff;
--component-switch-colour-background-brand: #000000;
--component-switch-colour-background-switch-off: #000000;
--component-switch-colour-background-background-off: #ffffff;
--component-switch-colour-background-disabled: #f5f5f5;
--component-switch-colour-background-active-disabled: #c0c0c0;
--component-table-colour-background-fixed: #ffffff;
--component-table-colour-background-fixed-subtle: #f1f1f1;
--component-table-colour-background-header: #323232;
--component-table-colour-background-active: #000000;
--component-table-colour-background-active-subdued: #c7ffc6;
--component-table-colour-background-active-subtle: #ffffff;
--component-table-colour-text-default: #000000;
--component-table-colour-text-header: #ffffff;
--component-table-colour-text-inverse: #ffffff;
--component-table-colour-text-active: #000000;
--component-table-colour-border-default-1: #000000;
--component-table-colour-border-default-2: #767676;
--component-table-colour-border-brand: #11b67a;
--component-table-colour-border-active: #000000;
--component-tile-size-min-height: 12.625rem;
--component-toggle-colour-background-default: #ffffff;
--component-toggle-colour-background-active: #000000;
--component-toggle-colour-text-default: #000000;
--component-toggle-colour-text-active: #ffffff;
--component-toggle-colour-border-default: #000000;
--component-toggle-border-outer: 0.063rem;
--component-toggle-border-outer-none: 0;
--component-toggle-border-inner: 0;
--component-toggle-radius-inner: 0;
--component-toggle-radius-outer: 0.750rem;
--component-toggle-space-default: 0;
--component-toggle-type-toggle: Regular;
}